<nav class="sub-navigation">
  <a class="sub-navigation__item--highlighted link" href="#">Go deeper:</a>
  <a class="sub-navigation__item link" href="#">CITY GUIDES</a>
  <a class="sub-navigation__item link" href="#">RECIPES</a>
  <a class="sub-navigation__item link" href="#">CLEAN BEAUTY</a>
  <a class="sub-navigation__item link" href="#">DETOX</a>
  <a class="sub-navigation__item link" href="#">GOOP LABEL</a>
  <a class="sub-navigation__item link" href="#">GOOP WELLNESS</a>
  <a class="sub-navigation__item link" href="#">VIDEOS</a>
</nav>
<div>
  <select class="select-navigation">
        <option class="select-navigation__item" selected="selected" value="go">Go</option>
        <option class="select-navigation__item" value="city_guides">CITY GUIDES</option>
        <option class="select-navigation__item" value="recipes">RECIPES</option>
        <option class="select-navigation__item" value="clean_beauty">CLEAN BEAUTY</option>
        <option class="select-navigation__item" value="detox">DETOX</option>
        <option class="select-navigation__item" value="goop label">GOOP LABEL</option>
        <option class="select-navigation__item" value="goop wellness">GOOP WELLNESS</option>
        <option class="select-navigation__item" value="videos">VIDEOS</option>
    </select>
</div>
