/*COMMON*/
html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}

a {
    color: grey;
    text-decoration: none;
}

/*HEADER*/
.header {
    border-bottom: solid 0.1rem black;
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-size: 5rem;
    text-transform: uppercase;
}

.sign-up {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    min-width: 10rem;
    width: 20vw;
}

.sign-up__emails {
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0 3rem 1rem;
}

.sign-up__launching-date {
    font-style: italic;
    margin: 1rem 0 1rem 1rem;
}

.sign-up__access {
    margin-left: 1rem;
    text-decoration: underline;
}

.sign-up__special-sign {
    font-size: 0.7rem;
}

.sign-in {
    align-items: flex-end;
    color: grey;
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    width: 20vw;
}

.sign-in__registration {
    font-weight: bold;
    margin: 1rem;
    text-transform: uppercase;
}

.sign-in__input {
    margin: 0 0.4rem 1rem 0;
    min-width: 10rem;
    width: 15vw;
}

.sign-in__shipping {
    font-style: italic;
    margin-right: 0.4rem;
}

.sign-in__shipping-details {
    text-decoration: underline;
}

/*MENU*/
.menu {
    border-bottom: solid 0.1rem lightgrey;
    display: flex;
    justify-content: center;
}

.menu__item {
    color: black;
    font-size: 1.5rem;
    margin: 2rem;
}

.menu__item:hover {
    color: lightblue;
}

/*SUBMENU*/
.submenu {
    border-bottom: solid 0.1rem black;
    display: flex;
    justify-content: center;
}

.submenu__item {
    font-size: 1.3rem;
    margin: 1rem 1.5rem;
}


.submenu__item_labeled {
    background: lightblue;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    position: relative;
}

.submenu__item_labeled:after {
    border-color: transparent transparent transparent lightblue;
    border-style: solid;
    border-width: 1.3rem 0 1.3rem 1.3rem;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: -1.3rem;
    top: 0;
    width: 0;
}

/*TAB MENU*/
.tab-menu {
    margin: 1rem 0 1.5rem 1rem;
}

.tab-menu__item {
    color: black;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.tab-menu__item:last-of-type {
    margin-left: 0.5rem;
}

/*MAIN*/
.main {
    display: flex;
    justify-content: space-between;
}

.categories {
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    width: 6.5vw;
}

.categories__title {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0.5rem 0.5rem 1rem;
}

.categories__item {
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}

.categories__view-all {
    color: blue;
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}

/*SHOP SECTION*/
.shop {
    align-items: center;
    border: solid 0.1rem grey;
    display: flex;
    flex-direction: column;
    height: 15rem;
    margin-right: 0.4rem;
    min-width: 10rem;
    width: 30rem;
}

.shop__title {
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem 0;
}

.shop__button {
    border: solid 0.12rem black;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

/*FOOTER*/
.footer {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    padding: 3rem 0 2rem 0;
}

.footer__item {
    color: white;
    padding: 0 0.5rem;
}

.footer__logo {
    margin-top: 1rem;
}