@import '../variables';

/*HEADER SMALL SCREEN*/

@media only screen and (max-width: $small-screen_max-width) {
  .header__title {
    font-size: 3rem;
    margin: 0 auto;
    padding-right: 10vw;
  }
}